<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Capstone Credential</title>

    <link rel="stylesheet" href="../static/style.css">
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>
</head>

<body>
    {% if login %}
    <script>
        webix.ready(() => {
            var form_default = {
                view: "form", id: "form_default", hidden: true, elements: [
                {
                    view: "text", name: "birthdate_dateint", label: "birthdate_dateint",
                    labelWidth: 130, placeholder: "20211109"
                },
                { view: "spacer", height: 15 },
                {
                    view: "text", name: "date", label: "date", labelWidth: 130,
                    placeholder: "2021-11-09"
                },
                { view: "spacer", height: 15 },
                {
                    view: "text", name: "degree", label: "degree", labelWidth: 130,
                    placeholder: "3.81"
                },
                { view: "spacer", height: 15 },
                {
                    view: "text", name: "name", label: "name", labelWidth: 130,
                    placeholder: "홍길동"
                }
            ]};
            var form_cashTransaction = {
                view: "form", id: "form_cashTransaction", hidden: true, elements: [
                {
                    view: "text", name: "creditor", label: "채권자",
                    labelWidth: 130, placeholder: "김철수"
                },
                { view: "spacer", height: 15 },
                {
                    view: "text", name: "debtor", label: "채무자", labelWidth: 130,
                    placeholder: "이영희"
                },
                
                { view: "spacer", height: 15 },
                {
                    view: "text", name: "amount", label: "금액", labelWidth: 130,
                    placeholder: "100000원"
                },
                { view: "spacer", height: 15 },
                {
                    view: "text", name: "debt_term", label: "상환날짜", labelWidth: 130,
                    value: "2022-01-22"
                },
                { view: "spacer", height: 15 },
                {
                    view: "text", name: "approved_date", label: "거래날짜", labelWidth: 130,
                    value: "2021-11-12"
                }
            ]};

            webix.ui({
                view: "scrollview",
                scroll: "auto",
                body: {
                    rows: [
                        {
                            view: "toolbar",
                            css: { "background": "#333333" },
                            elements: [
                                {
                                    view: "button", value: "Capstone Credential", autowidth: true,
                                    css: "webix_transparent", click: () => { location.href = "/"; }
                                },
                                {
                                    align: "right", body: {
                                        cols: [
                                            {
                                                view: "button", value: "안내 페이지", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/document"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "증명서 발급", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/credential"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "채팅", width: 100,
                                                css: "webix_transparent", click: () => { location.href = "/chat"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "마이 페이지", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/mypage"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "로그아웃", width: 100,
                                                css: "webix_primary", click: () => {
                                                webix.ajax().del("/signout")
                                                    .then((res) => { location.href="/"; })
                                                    .fail(() => { alert("로그아웃 과정 중 문제가 발생했습니다."); });
                                                }
                                            },
                                            { view: "spacer", width: 10 }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            view: "spacer", height: 30
                        },
                        {% if connection %}
                        {
                            align: "center",
                            body: {
                                template: "<h2>원하는 Credential-Definition을 선택하시고, 필요한 데이터를 입력해주세요.</h2>",
                                width: 800, autoheight: true
                            }
                        },
                        {
                            view: "spacer", height: 15
                        },
                        {
                            align: "center",
                            body: {
                                view: "form", id: "cred_request_form",
                                width: 800,
                                elements: [
                                    {
                                        view: "radio", id: "creddef_radio", name: "credential_definition_id",
                                        vertical: true, label: "Credential-definition ids", labelPosition: "top",
                                        options: [
                                            {% for id in credential_definition_ids %}
                                            `{{id}}`,
                                            {% endfor %}
                                        ],
                                        click: () => {
                                            var id = $$("creddef_radio").getValue();
                                            if (id) {
                                                if (id.search("faber.agent.degree_schema") > -1) {
                                                    $$("form_cashTransaction").hide();
                                                    $$("form_default").show();
                                                } else if (id.search("default") > -1) {
                                                    $$("form_default").hide();
                                                    $$("form_cashTransaction").show();
                                                }
                                            } else {
                                                alert("선택된 credential_definition_id가 없습니다.");
                                            }
                                        }
                                    },
                                    { view: "spacer", height: 20 },
                                    form_default,
                                    form_cashTransaction,
                                    { view: "spacer", height: 30 },
                                    {
                                        view: "toolbar", borderless: true, elements: [
                                            {
                                                view: "button", value: "취소", width: 100,
                                                css: "webix_primary", click: () => { alert("내용 취소? 뒤로 가기?"); }
                                            },
                                            {
                                                align: "right", body: {
                                                    view: "button", value: "전송", width: 100,
                                                    css: "webix_danger", click: () => {
                                                        var id = $$("creddef_radio").getValue();
                                                        if (id) {
                                                            var values;
                                                            if (id.search("faber.agent.degree_schema") > -1) {
                                                                values = $$("form_default").getValues();
                                                            } else if (id.search("default") > -1) {
                                                                values = $$("form_cashTransaction").getValues();
                                                            }
                                                            values['credential_definition_id'] = id; // 선택한 credential_definition_id 추가

                                                            var res = confirm("<사전 약관> Capstone Credential은 법적 책임을 지지 않습니다.\n동의하시면 확인, 아니면 취소를 선택하세요.");
                                                            if (res) {
                                                                webix.ajax().post("/credential-process", JSON.stringify(values))
                                                                    .then((res) => {
                                                                        location.href = `/credential/${res.text()}`
                                                                    })
                                                                    .fail(() => { alert("서버 쪽 오류 발생"); });
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {% else %}
                        {
                            view: "button", value: "create connection",
                            width: 200, align: "center", css: "webix_primary",
                            click: () => {
                                webix.ajax().post("/create-connection")
                                .then((res) => {
                                    location.reload();
                                })
                                .fail(() => {
                                    alert("연결 문제 발생: 서버 상태를 확인하세요.");
                                });
                            }
                        },
                        {% endif %}
                        {
                            view: "spacer", height: 30
                        }
                    ]
                }
            });
        });
    </script>
    {% else %}
    <script>
        alert("증명서를 발급하려면 로그인이 선행되어야 합니다.");
        history.back();
    </script>
    {% endif %}
</body>

</html>