<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Capstone Credential</title>

    <link rel="stylesheet" href="../static/style.css">
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>
</head>

<body>
    <script>
        webix.ready(() => {
            webix.ui({
                view: "scrollview",
                scroll: "y",
                body: {
                    rows: [
                        {
                            view: "toolbar",
                            css: { "background": "#333333" },
                            elements: [
                                {
                                    view: "button", value: "Capstone Credential", autowidth: true,
                                    css: "webix_transparent", click: () => { location.href="/"; }
                                },
                                {
                                    align: "right", body: {
                                        cols: [
                                            {
                                                view: "button", value: "로그인", width: 100,
                                                css: "webix_transparent"
                                            },
                                            {
                                                view: "button", value: "회원가입", width: 100,
                                                css: "webix_transparent"

                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            view: "spacer", height: 30
                        },
                        {
                            align: "center", width: 500, height: 500,
                            body: {
                                view: "form", id: "signin_form",
                                width: 500,
                                elements: [
                                    {
                                        view: "radio", name: "credential", label: "Credentials", vertical: true,
                                        options: [
                                            {id: 1, value: "default cred 1"},
                                            {id: 2, value: "default cred 2"},
                                            {id: 3, value: "default cred 3"},
                                            {id: 4, value: "credential 제작"},
                                        ]
                                    },
                                    {
                                        view: "textarea", placeholder: "default credential 양식 or credential 제작",
                                        minHeight: 250,
                                    },
                                    {
                                        view: "text", label: "갑",
                                    },
                                    {
                                        view: "text", label: "을",
                                    },
                                    {
                                        view: "text", label: "거래 금액"
                                    },
                                    {
                                        view: "button", value: "전송"
                                    }
                                ]
                            }
                        }
                    ]
                }
            });

        });
    </script>
</body>

</html>