<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>TEST</title>

    <link rel="stylesheet" href="../static/style.css">
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>
</head>

<body>
    {% if login %}
    <script>
        var cred_ex_id = "{{cred_ex_id}}";
        webix.ready(() => {
            webix.ui({
                view: "scrollview",
                scroll: "auto",
                body: {
                    rows: [
                        {
                            view: "toolbar",
                            css: { "background": "#333333" },
                            elements: [
                                {
                                    view: "button", value: "Credential Capstone",
                                    css: "webix_transparent", autowidth: true
                                },
                                {
                                    align: "center",
                                    body: {
                                        cols: [
                                            {
                                                view: "button", value: "PDF 다운로드",
                                                css: "webix_primary", width: 130,
                                                click: () => {
                                                    webix.toPDF($$("datatable"), { autowidth:true });
                                                }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "PNG 다운로드",
                                                css: "webix_danger", width: 130,
                                                click: () => {
                                                    webix.toPNG($$("datatable"), { autowidth:true });
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    align: "right", body: {
                                        view: "button", value: "이전 페이지로",
                                        autowidth: true, css: "webix_transparent",
                                        click: () => { history.back(); }
                                    }
                                }
                            ]
                        },
                        {
                            view: "datatable", id: "datatable",
                            on: {
                                onBeforeLoad: function () {
                                    this.showOverlay("Loading...");
                                },
                                onAfterLoad: function () {
                                    this.hideOverlay();
                                }
                            },
                            columns: [
                                { id: "id", header: "id", width: 50 },
                                { id: "key", header: "key", adjust: true },
                                { id: "value", header: "value", fillspace: true }
                            ],
                            url: `/datatable-data/${cred_ex_id}`
                        }
                    ]
                }
            });
        });
    </script>
    {% else %}
    <script>
        alert("접근 권한이 없습니다.");
        history.back();
    </script>
    {% endif %}
</body>

</html>