<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Capstone Credential</title>

    <link rel="stylesheet" href="../static/style.css">
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>
</head>

<body>
    <script>
        webix.ready(() => {
            webix.ui({
                view: "scrollview",
                scroll: "auto",
                body: {
                    rows: [
                        {
                            view: "toolbar",
                            css: { "background": "#333333" },
                            elements: [
                                {
                                    view: "button", value: "Capstone Credential", autowidth: true,
                                    css: "webix_transparent", click: () => { location.href = "/"; }
                                },
                                {
                                    align: "right", body: {
                                        cols: [
                                            {
                                                view: "button", value: "안내 페이지", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/tutorials"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "초대", width: 100,
                                                css: "webix_transparent", click: () => { location.href = "/invitation"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "증명서 발급", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/credential"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "채팅", width: 100,
                                                css: "webix_transparent", click: () => { location.href = "/chat"; }
                                            },
                                            { view: "spacer", width: 10},
                                            {
                                                view: "button", value: "마이 페이지", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/mypage"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "로그인", width: 100,
                                                css: "webix_primary", click: () => { location.href = "/signin"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "회원가입", width: 100,
                                                css: "webix_primary", click: () => { location.href = "/signup"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "로그아웃", width: 100,
                                                css: "webix_primary", click: () => { alert("로그아웃"); }
                                            },
                                            { view: "spacer", width: 10 }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            view: "spacer", height: 30
                        },
                        {
                            align: "center",
                            body: {
                                view: "form", id: "cred_request_form",
                                width: 800,
                                elements: [
                                    {
                                        view: "radio", name: "credential", vertical: true,
                                        label: "Credentials", labelWidth: 120,
                                        options: [
                                            { id: 1, value: "default cred 1" },
                                            { id: 2, value: "default cred 2" },
                                            { id: 3, value: "default cred 3" },
                                        ]
                                    },
                                    { view: "spacer", height: 20 },
                                    {
                                        view: "textarea", placeholder: "default credential 양식",
                                        minHeight: 250, autoheight: true,
                                        label: "Credential 양식", labelPosition: "top"
                                    },
                                    { view: "spacer", height: 20 },
                                    {
                                        view: "text", label: "갑",
                                    },
                                    {
                                        view: "text", label: "을",
                                    },
                                    {
                                        view: "text", label: "거래 금액"
                                    },
                                    { view: "spacer", height: 30 },
                                    {
                                        view: "toolbar", borderless: true, elements: [
                                            {
                                                view: "button", value: "취소", width: 100,
                                                css: "webix_primary", click: () => { alert("내용 취소? 뒤로 가기?"); }
                                            },
                                            {
                                                align: "right", body: {
                                                    view: "button", value: "전송", width: 100,
                                                    css: "webix_danger", click: () => {
                                                        var res = confirm("<사전 약관> Capstone Credential은 법적 책임을 지지 않습니다.\n동의하시면 확인, 아니면 취소를 선택하세요.");
                                                        if (res) {
                                                            location.href = "/credential-issued";
                                                        }
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            view: "spacer", height: 30
                        }
                    ]
                }
            });

        });
    </script>
</body>

</html>