<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Capstone Credential</title>

    <link rel="stylesheet" href="../static/style.css">
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>
</head>

<body>
    {% if login %}
    <script>
        webix.ready(() => {
            webix.ui({
                view: "scrollview",
                scroll: "auto",
                body: {
                    rows: [
                        {
                            view: "toolbar",
                            css: { "background": "#333333" },
                            elements: [
                                {
                                    view: "button", value: "Capstone Credential", autowidth: true,
                                    css: "webix_transparent", click: () => { location.href = "/"; }
                                },
                                {
                                    align: "right", body: {
                                        cols: [
                                            {
                                                view: "button", value: "안내 페이지", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/document"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "증명서 발급", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/credential"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "채팅", width: 100,
                                                css: "webix_transparent", click: () => { location.href = "/chat"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "마이 페이지", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/mypage"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "로그아웃", width: 100,
                                                css: "webix_primary", click: () => {
                                                    webix.ajax().del("/signout")
                                                    .then((res) => { location.href="/"; })
                                                    .fail(() => { alert("로그아웃 과정 중 문제가 발생했습니다."); });
                                                }
                                            },
                                            { view: "spacer", width: 10 }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            view: "spacer", height: 30
                        },
                        {
                            align: "center",
                            body: {
                                width: 800, rows: [
                                    {
                                        template: "<h1>증명서 확인</h1><h3>cred_ex_id: {{cred_ex_id}}</h3>", borderless: true,
                                        autowidth: true, autoheight: true
                                    },
                                    {
                                        view: "spacer", height: 5
                                    },
                                    {
                                        align: "center", body: {
                                            cols: [
                                                {
                                                    view: "button", value: "PDF/PNG로 다운받기",
                                                    width: 250, css: "webix_primary",
                                                    click: () => {
                                                        var credential = $$("credential").getValue(); // textarea에서 credential 값 가져오기
                                                        credential = JSON.parse(credential); // str -> JSON 객체로 만듦

                                                        webix.ajax().post("/credential-to-datatable", JSON.stringify(credential))
                                                            .then((res) => {
                                                                location.href = "/credential-download";
                                                            })
                                                            .fail(() => { alert("증명서를 PNG로 변환하지 못했습니다."); });
                                                    }
                                                },
                                                { view: "spacer", width: 15 },
                                                {
                                                    view: "button", value: "Copy",
                                                    width: 90, css: "webix_danger",
                                                    click: () => {
                                                        var content = $$("credential").getValue();

                                                        navigator.clipboard.writeText(content)
                                                            .then(() => {
                                                                alert("복사되었습니다.");
                                                            })
                                                            .catch(err => {
                                                                alert("COPY 실패");
                                                            })
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        view: "spacer", height: 10
                                    },
                                    {
                                        view: "textarea", id: "credential", readonly: true,
                                        height: 400, value: `{{credential_body}}`
                                    }
                                ]
                            }
                        },
                        {
                            view: "spacer", height: 30
                        }
                    ]
                }
            });

        });
    </script>
    {% else %}
    <script>
        alert("접근 권한이 없습니다.");
        history.back();
    </script>
    {% endif %}
</body>

</html>