<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Capstone Credential</title>

    <link rel="stylesheet" href="../static/style.css">
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>
</head>

<body>
    <script>
        webix.ready(() => {
            webix.ui({
                view: "scrollview",
                scroll: "auto",
                body: {
                    rows: [
                        {
                            view: "toolbar",
                            css: { "background": "#333333" },
                            elements: [
                                {
                                    view: "button", value: "Capstone Credential", autowidth: true,
                                    css: "webix_transparent", click: () => { location.href = "/"; }
                                },
                                {
                                    align: "right", body: {
                                        cols: [
                                            {
                                                view: "button", value: "안내 페이지", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/tutorials"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "초대", width: 100,
                                                css: "webix_transparent", click: () => { location.href = "/invitation"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "증명서 발급", width: 110,
                                                css: "webix_transparent", click: () => {
                                                    alert("증명서를 발급받으려면 초대장을 수락하셔야 합니다.");
                                                    location.href = "/credential";
                                                }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "채팅", width: 100,
                                                css: "webix_transparent", click: () => { location.href = "/chat"; }
                                            },
                                            { view: "spacer", width: 10},
                                            {
                                                view: "button", value: "마이 페이지", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/mypage"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "로그인", width: 100,
                                                css: "webix_primary", click: () => { location.href = "/signin"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "회원가입", width: 100,
                                                css: "webix_primary", click: () => { location.href = "/signup"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "로그아웃", width: 100,
                                                css: "webix_primary", click: () => { alert("로그아웃"); }
                                            },
                                            { view: "spacer", width: 10 }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            view: "spacer", height: 30
                        },
                        {
                            align: "center",
                            body: {
                                width: 800, rows: [
                                    {
                                        template: "<h1>Capstone Credential</h1>", borderless: true,
                                        autowidth: true, autoheight: true
                                    },
                                    {
                                        view: "spacer", height: 20
                                    },
                                    {
                                        cols: [
                                            {
                                                view: "button", value: "사용 방법", borderless: false,
                                                minWidth: 250, height: 300,
                                                click: () => { location.href = "/tutorials" }
                                            },
                                            { view: "spacer", minWidth: 100 },
                                            {
                                                view: "button", value: "증명서 발급", borderless: false,
                                                minWidth: 250, height: 300,
                                                click: () => {
                                                    var res = confirm("초대장을 발급받으셨습니까?\n초대장을 발급받아 Capstone Credential과 연결되어야 증명서 발급이 가능합니다.");
                                                    if (res) {
                                                        location.href = "/credential";
                                                    } else {
                                                        res = confirm("초대장 발급 화면으로 이동하시겠습니까?");
                                                        if (res) {
                                                            location.href = "/invitation";
                                                        }
                                                    }
                                                }
                                            },
                                            { view: "spacer", minWidth: 100 },
                                            {
                                                view: "button", value: "채팅 시작하기", borderless: false,
                                                minWidth: 250, height: 300,
                                                click: () => {
                                                    var id = prompt("채팅할 상대ID 입력하세요");
                                                    if (id) {
                                                        location.href = "/chat";
                                                    } else {
                                                        alert("입력 내용이 없습니다.");
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                ]
                            },
                        },
                        {
                            view: "spacer", height: 30
                        }
                    ]
                }
            });

        });
    </script>
</body>

</html>