<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Capstone Credential</title>

    <link rel="stylesheet" href="../static/style.css">
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>
</head>

<body>
    <script>
        webix.ready(() => {
            webix.ui({
                view: "scrollview",
                scroll: "auto",
                body: {
                    rows: [
                        {
                            view: "toolbar",
                            css: { "background": "#333333" },
                            elements: [
                                {
                                    view: "button", value: "Capstone Credential", autowidth: true,
                                    css: "webix_transparent", click: () => { location.href = "/"; }
                                },
                                {
                                    align: "right", body: {
                                        cols: [
                                            {
                                                view: "button", value: "안내 페이지", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/document"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "증명서 발급", width: 110,
                                                css: "webix_transparent", click: () => {
                                                    location.href = "/credential";
                                                }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "채팅", width: 100,
                                                css: "webix_transparent", click: () => { location.href = "/chat"; }
                                            },
                                            { view: "spacer", width: 10},
                                            {% if login %}
                                            {
                                                view: "button", value: "마이 페이지", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/mypage"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "로그아웃", width: 100,
                                                css: "webix_primary", click: () => {
                                                    webix.ajax().del("/signout")
                                                    .then((res) => { location.href="/"; })
                                                    .fail(() => { alert("로그아웃 과정 중 문제가 발생했습니다."); });
                                                }
                                            },
                                            {% else %}
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "로그인", width: 100,
                                                css: "webix_primary", click: () => { location.href = "/signin"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "회원가입", width: 100,
                                                css: "webix_primary", click: () => { location.href = "/signup"; }
                                            },
                                            {% endif %}
                                            { view: "spacer", width: 10 }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            view: "spacer", height: 30
                        },
                        {
                            align: "center",
                            body: {
                                width: 800, rows: [
                                    {
                                        template: "<h1>Capstone Credential</h1>", borderless: true,
                                        autowidth: true, autoheight: true
                                    },
                                    {
                                        view: "spacer", height: 20
                                    },
                                    {
                                        cols: [
                                            {
                                                view: "button", value: "사용 방법", borderless: false,
                                                minWidth: 250, height: 300,
                                                click: () => { location.href = "/document" }
                                            },
                                            { view: "spacer", minWidth: 100 },
                                            {
                                                view: "button", value: "증명서 발급", borderless: false,
                                                minWidth: 250, height: 300,
                                                click: () => { location.href = "/credential"; }
                                            },
                                            { view: "spacer", minWidth: 100 },
                                            {
                                                view: "button", value: "채팅 시작하기", borderless: false,
                                                minWidth: 250, height: 300,
                                                click: () => { location.href = "/chat"; }
                                            }
                                        ]
                                    }
                                ]
                            },
                        },
                        {
                            view: "spacer", height: 30
                        }
                    ]
                }
            });

        });
    </script>
</body>

</html>