<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Capstone Credential</title>

    <link rel="stylesheet" href="../static/style.css">
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
</head>
<body>
    <script>
        webix.ready(() => {
            webix.ui({
                view: "scrollview",
                scroll: "y",
                body: {
                    rows: [
                        {
                            view: "toolbar",
                            css: { "background": "#333333" },
                            elements: [
                                {
                                    view: "button", value: "Capstone Credential", autowidth: true,
                                    css: "webix_transparent", click: () => { location.href = "/"; }
                                },
                                {
                                    align: "right", body: {
                                        cols: [
                                            {
                                                view: "button", value: "안내 페이지", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/tutorials"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "초대", width: 100,
                                                css: "webix_transparent", click: () => { location.href = "/invitation"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "증명서 발급", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/credential"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "마이 페이지", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/mypage"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "로그인", width: 100,
                                                css: "webix_primary", click: () => { location.href = "/signin"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "회원가입", width: 100,
                                                css: "webix_primary", click: () => { location.href = "/signup"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "로그아웃", width: 100,
                                                css: "webix_primary", click: () => { alert("로그아웃"); }
                                            },
                                            { view: "spacer", width: 10 }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            view: "spacer", height: 30
                        },
                        {
                            align: "center",
                            body: {
                                width: 800, rows: [
                                    {
                                        template: "<h1>Capstone Credential 연결</h1>", borderless: true,
                                        autowidth: true, autoheight: true
                                    },
                                    {
                                        view: "button", value: "초대장 발급받기",
                                        width: 200, align: "center", css: "webix_primary",
                                        click: () => {
                                            alert("발급기관이 초대장을 발급했습니다.");
                                        }
                                    },
                                    {
                                        view: "spacer", height: 30
                                    },
                                    {
                                        view: "button", value: "초대장 수락하기",
                                        width: 200, align: "center", css: "webix_danger",
                                        click: () => {
                                            var invitation = "invitation";
                                            webix.ajax().post("http://0.0.0.0:8031/connections/receive-invitation", inviation)
                                                .then((res) => {
                                                    console.log(res);
                                                    alert("Received Invitation");
                                                });
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            view: "spacer", height: 30
                        }
                    ]
                }
            });

        });
    </script>
</body>

</html>