<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Capstone Credential</title>

    <link rel="stylesheet" href="../static/style.css">
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>
</head>

<body>
    {% if login %}
    <script>
        webix.ready(() => {
            webix.ui({
                view: "scrollview",
                scroll: "auto",
                body: {
                    rows: [
                        {
                            view: "toolbar",
                            css: { "background": "#333333" },
                            elements: [
                                {
                                    view: "button", value: "Capstone Credential", autowidth: true,
                                    css: "webix_transparent", click: () => { location.href = "/"; }
                                },
                                {
                                    align: "right", body: {
                                        cols: [
                                            {
                                                view: "button", value: "안내 페이지", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/document"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "증명서 발급", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/credential"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "채팅", width: 100,
                                                css: "webix_transparent", click: () => { location.href = "/chat"; }
                                            },
                                            { view: "spacer", width: 10},
                                            {% if login %}
                                            {
                                                view: "button", value: "마이 페이지", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/mypage"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "로그아웃", width: 100,
                                                css: "webix_primary", click: () => {
                                                    webix.ajax().del("/signout")
                                                    .then((res) => { location.href="/"; })
                                                    .fail(() => { alert("로그아웃 과정 중 문제가 발생했습니다."); });
                                                }
                                            },
                                            {% else %}
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "로그인", width: 100,
                                                css: "webix_primary", click: () => { location.href = "/signin"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "회원가입", width: 100,
                                                css: "webix_primary", click: () => { location.href = "/signup"; }
                                            },
                                            {% endif %}
                                            { view: "spacer", width: 10 }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            view: "spacer", height: 30
                        },
                        {
                            align: "center",
                            body: {
                                width: 800, rows: [
                                    {
                                        template: "<h1>My Page</h1>", borderless: true,
                                        autowidth: true, autoheight: true
                                    },
                                    {
                                        view: "spacer", height: 5
                                    },
                                    {
                                        cols: [
                                            {
                                                width: 200, rows: [
                                                    {
                                                        view: "button", value: "내 정보", width: 200, height: 50,
                                                        css: "webix_primary", click: () => { location.href = "/mypage"; }
                                                    },
                                                    { view: "spacer", height: 10 },
                                                    {
                                                        view: "button", value: "글/댓글 관리", width: 200, height: 50,
                                                        click: () => { alert("관리 페이지"); }
                                                    },
                                                    { view: "spacer", height: 10 },
                                                    {
                                                        view: "button", value: "비밀번호 변경", width: 200, height: 50,
                                                        click: () => { alert("비밀번호 변경"); }
                                                    },
                                                    { view: "spacer", height: 10 },
                                                    {
                                                        view: "button", value: "회원 탈퇴", width: 200, height: 50,
                                                        click: () => { alert("회원 탈퇴"); }
                                                    },
                                                ]
                                            },
                                            {
                                                view: "spacer", width: 30,
                                            },
                                            {
                                                align: "center", width: 570, autoheight: true,
                                                css: { "background": "#f4f5f9" },
                                                body: {
                                                    width: 500, css: { "background": "#f4f5f9" },
                                                    rows: [
                                                        {
                                                            view: "spacer", height: 30
                                                        },
                                                        {
                                                            view: "align", align: "center", body: {
                                                                view: "button", type: "image", autowidth: true,
                                                                image: "../static/copyright-g093df1ebf_640.png",
                                                                label: `{{name}}`
                                                            }
                                                        },
                                                        {
                                                            view: "spacer", height: 20
                                                        },
                                                        {
                                                            css: { "background": "#f4f5f9" }, cols: [
                                                                {
                                                                    view: "text", id: "identity_id", label: "ID", readonly: true,
                                                                    value: `{{id}}`
                                                                },
                                                                {
                                                                    view: "button", value: "Copy", autowidth: true,
                                                                    css: "webix_primary",
                                                                    click: () => {
                                                                        var content = $$("identity_id").getValue();

                                                                        navigator.clipboard.writeText(content)
                                                                            .then(() => {
                                                                                alert("복사되었습니다.");
                                                                            })
                                                                            .catch(err => {
                                                                                alert("COPY 실패");
                                                                            })
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            view: "spacer", height: 20
                                                        },
                                                        {
                                                            view: "list", id: "id_list",
                                                            // label: "발급받은 증명서 목록", labelPosition: "top",
                                                            template: "#id#", select: true,
                                                            height: "300", scroll: "y",
                                                            data: [
                                                                {% for cred_ex_id in cred_ex_ids %}
                                                                {"id" : `{{cred_ex_id}}`},
                                                                {% endfor %}
                                                            ]
                                                        },
                                                        {
                                                            view: "spacer", height: 30
                                                        },
                                                    ]
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            view: "spacer", height: 30
                        }
                    ]
                }
            });

            $$("id_list").attachEvent("onItemClick", (id, e, node) => {
                location.href=`/credential/${id}`;
            });
        });
    </script>
    {% else %}
    <script>
        alert("접근 권한이 없습니다.");
        location.href="/";
    </script>
    {% endif %}
</body>

</html>