<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Capstone Credential</title>

    <link rel="stylesheet" href="../static/style.css">
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>
</head>

<body>
    {% if login %}
    <script>
        alert("이미 로그인되어 있습니다.");
        history.back();
    </script>
    {% else %}
    <script>
        webix.ready(() => {
            webix.ui({
                view: "popup", id: "findPassword",
                width: 400, top:200, left: 300,
                body: {
                    rows: [
                        {
                            template: "<h2>비밀번호 찾기</h2>",
                            autowidth: true, autoheight: true
                        },
                        {
                            view: "form", id: "findPassword_form",
                            elements: [
                                {
                                    view: "text", label: "아이디", name: "target_id",
                                    invalidMessage: "아이디를 입력하십시오."
                                },
                                { view: "spacer", height: 10 },
                                {
                                    view: "button", value: "비밀번호 찾기", hotkey: "enter",
                                    click: () => {
                                        var form = $$("findPassword_form");
                                        if (form.validate()) {
                                            var values = form.getValues().target_id;
                                            if (id) {
                                                alert("입력 id: " + id);
                                            }
                                        }
                                    }
                                }
                            ],
                            rules: {
                                "target_id": webix.rules.isNotEmpty,
                            }
                        }
                    ]
                }
            });

            webix.ui({
                view: "scrollview",
                scroll: "auto",
                body: {
                    rows: [
                        {
                            view: "toolbar",
                            css: { "background": "#333333" },
                            elements: [
                                {
                                    view: "button", value: "Capstone Credential", autowidth: true,
                                    css: "webix_transparent", click: () => { location.href = "/"; }
                                },
                                {
                                    align: "right", body: {
                                        cols: [
                                            {
                                                view: "button", value: "안내 페이지", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/document"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "증명서 발급", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/credential"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "채팅", width: 100,
                                                css: "webix_transparent", click: () => { location.href = "/chat"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "로그인", width: 100,
                                                css: "webix_primary", click: () => { location.href = "/signin"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "회원가입", width: 100,
                                                css: "webix_primary", click: () => { location.href = "/signup"; }
                                            },
                                            { view: "spacer", width: 10 }
                                        ]
                                    }
                                }
                            ]
                        },
                        // {
                        //     view: "spacer", height: 30
                        // },
                        {
                            align: "center", width: 500, height: 500,
                            body: {
                                rows: [
                                    {
                                        template: "<h1>로그인</h1>", borderless: true,
                                        autowidth: true, autoheight: true
                                    },
                                    {
                                        view: "form", id: "signin_form",
                                        width: 500,
                                        elements: [
                                            {
                                                view: "text", label: "아이디", name: "id",
                                                invalidMessage: "아이디를 입력하십시오."
                                            },
                                            {
                                                view: "text", type: "password", label: "비밀번호", name: "password",
                                                invalidMessage: "비밀번호를 입력하십시오."
                                            },
                                            {
                                                view: "button", value: "완료", hotkey: "enter",
                                                click: () => {
                                                    var form = $$("signin_form");
                                                    if (form.validate()) {
                                                        var values = form.getValues();
                                                        webix.ajax().post("/signin", JSON.stringify(values))
                                                        .then((res) => {
                                                            webix.message({type:"debug", text: "로그인 과정이 오래 걸릴 수 있습니다. 잠시만 기다려주세요."});
                                                            var response = res.text();
                                                            if (response === "OK") {
                                                                location.href="/";
                                                            } else {
                                                                alert("아이디와 비밀번호를 다시 확인해주십시오.");
                                                            }
                                                        })
                                                        .fail(() => {
                                                            webix.message("로그인 과정 중 문제가 발생했습니다.");
                                                        });
                                                    }
                                                }
                                            },
                                            {
                                                view: "button", value: "<span style='font-size: 13px;'>비밀번호를 잊으셨습니까?</span>",
                                                autowidth: true, click: () => {
                                                    $$("findPassword").show(this.$view);
                                                }
                                            }
                                        ],
                                        rules: {
                                            "id": webix.rules.isNotEmpty,
                                            "password": webix.rules.isNotEmpty
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            view: "spacer", height: 30
                        }
                    ]
                }
            });

        });
    </script>
    {% endif %}
</body>

</html>