<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Capstone Credential</title>

    <link rel="stylesheet" href="../static/style.css">
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>
</head>

<body>
    {% if login %}
    <script>
        alert("이미 회원이십니다.\n로그아웃 후 회원가입을 진행해주세요.");
        history.back();
    </script>
    {% else %}
    <script>
        webix.ready(() => {
            webix.ui({
                view: "scrollview",
                scroll: "auto",
                body: {
                    rows: [
                        {
                            view: "toolbar",
                            css: { "background": "#333333" },
                            elements: [
                                {
                                    view: "button", value: "Capstone Credential", autowidth: true,
                                    css: "webix_transparent", click: () => { location.href = "/"; }
                                },
                                {
                                    align: "right", body: {
                                        cols: [
                                            {
                                                view: "button", value: "안내 페이지", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/document"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "증명서 발급", width: 110,
                                                css: "webix_transparent", click: () => { location.href = "/credential"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "채팅", width: 100,
                                                css: "webix_transparent", click: () => { location.href = "/chat"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "로그인", width: 100,
                                                css: "webix_primary", click: () => { location.href = "/signin"; }
                                            },
                                            { view: "spacer", width: 10 },
                                            {
                                                view: "button", value: "회원가입", width: 100,
                                                css: "webix_primary", click: () => { location.href = "/signup"; }
                                            },
                                            { view: "spacer", width: 10 }
                                        ]
                                    }
                                }
                            ]
                        },
                        // {
                        //     view: "spacer", height: 30
                        // },
                        {
                            align: "center", width: 500, height: 500,
                            body: {
                                width: 500, rows: [
                                    {
                                        template: "<h1>회원가입</h1>", borderless: true,
                                        autowidth: true, autoheight: true
                                    },
                                    {
                                        view: "form", id: "signup_form",
                                        elements: [
                                            {
                                                view: "text", label: "이름", name: "name",
                                                invalidMessage: "이름을 입력하십시오."
                                            },
                                            {
                                                cols: [
                                                {
                                                    view: "text", label: "아이디", name: "id",
                                                    invalidMessage: "아이디를 입력하십시오."
                                                },
                                                {
                                                    view: "button", value: "중복 확인",
                                                    width: 100, css: "webix_primary",
                                                    click: () => {
                                                        alert("아이디 중복 체크");
                                                    }
                                                }
                                                ]
                                            },
                                            {
                                                view: "text", type: "password", label: "비밀번호", name: "password",
                                                invalidMessage: "비밀번호를 입력하십시오."
                                            },
                                            {
                                                view: "button", value: "완료", hotkey: "enter",
                                                click: () => {
                                                    var form = $$("signup_form");
                                                    if (form.validate()) {
                                                        var values = form.getValues();
                                                        webix.ajax().post("/signup", JSON.stringify(values))
                                                            .then((res) => {
                                                                alert("회원가입이 완료되었습니다.\n로그인 창으로 이동합니다.");
                                                                location.href="/signin";
                                                            })
                                                            .fail(() => {
                                                                webix.message("Error");
                                                            });
                                                    }
                                                }
                                            }
                                        ],
                                        rules: {
                                            "name" : webix.rules.isNotEmpty,
                                            "id": webix.rules.isNotEmpty,
                                            "password": webix.rules.isNotEmpty
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            view: "spacer", height: 30
                        }
                    ]
                }
            });

        });
    </script>
    {% endif %}
</body>

</html>