<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Capstone Credential</title>

    <link rel="stylesheet" href="../static/style.css">
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>
</head>

<body>
    <script>
        webix.ready(() => {
            webix.ui({
                view: "scrollview",
                scroll: "y",
                body: {
                    rows: [
                        {
                            view: "toolbar",
                            css: { "background": "#333333" },
                            elements: [
                                {
                                    view: "button", value: "Capstone Credential", autowidth: true,
                                    css: "webix_transparent", click: () => { location.href="/"; }
                                },
                                {
                                    align: "right", body: {
                                        cols: [
                                            {
                                                view: "button", value: "로그인", width: 100,
                                                css: "webix_transparent", click: () => { location.href="/signin"; }
                                            },
                                            {
                                                view: "button", value: "회원가입", width: 100,
                                                css: "webix_transparent", click: () => { location.href="/signup"; }

                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            view: "spacer", height: 30
                        },
                        {
                            align: "center", width: 500, height: 500,
                            body: {
                                view: "form", id: "signup_form",
                                width: 500,
                                elements: [
                                    {
                                        template: "<h4>회원가입</h4>", autowidth: true, autoheight: true
                                    },
                                    {
                                        view: "text", label: "ID", name: "id",
                                    },
                                    {
                                        view: "text", type: "password", label: "Password", name: "passowrd",
                                    },
                                    {
                                        view: "button", value: "submit"
                                    }
                                ]
                            }
                        }
                    ]
                }
            });

        });
    </script>
</body>

</html>