<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Capstone Credential</title>

    <link rel="stylesheet" href="../static/style.css">
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>
</head>

<body>
    <script>
        webix.ready(() => {
            webix.ui({
                view: "scrollview",
                scroll: "y",
                body: {
                    rows: [
                        {
                            view: "toolbar",
                            css: { "background": "#333333" },
                            elements: [
                                {
                                    view: "button", value: "Capstone Credential", autowidth: true,
                                    css: "webix_transparent", click: () => { location.href="/"; }
                                },
                                {
                                    align: "right", body: {
                                        cols: [
                                            {
                                                view: "button", value: "로그인", width: 100,
                                                css: "webix_transparent", click: () => { location.href="/signin"; }
                                            },
                                            {
                                                view: "button", value: "회원가입", width: 100,
                                                css: "webix_transparent", click: () => { location.href="/signup"; }

                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            view: "spacer", height: 30
                        },
                        {
                            align: "center",
                            body: {
                                width: 500, height: 500,
                                template: `
                                <h3>안내 페이지</h3>
                                <div>
                                    안내글
                                </div>
                                `
                            }
                        }
                    ]
                }
            });

        });
    </script>
</body>

</html>